<!DOCTYPE html>
<html>
  <head>
    <title>Audio Junkyard | Download Application</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Download Application</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum perferendis, nisi doloribus, repellendus sed dolore tenetur ratione, dolor neque quidem tempora labore quam placeat laborum dolores id! Necessitatibus, eos id!</p>
    <a href="/api/downloads/application" download>Download</a>
  </body>
</html>
