<!DOCTYPE html>
<html>
  <head>
    <title>Audio Junkyard | Upload</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Upload</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione repellat provident nihil adipisci laudantium minus sed quibusdam! Minima, facere. Voluptatibus nesciunt nisi odit temporibus quis asperiores. Commodi, nemo assumenda!</p>

    <form method="POST" action="/api/upload" enctype="multipart/form-data">
      <label for="audio">Add Files</label>
      <input type="file" name="audio" accept="audio/mpeg, audio/wav">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
